*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    align-items: center;
    height: 100px;
    background: linear-gradient(#0047A0, #002047);

}
header img {
    margin-top: 15px;
}

nav {
    text-align: right;
}
nav a {
    text-decoration: none;
    color: black;
}



body {
    background-image: url(ITSP\ FRENTE.jpg);
    background-size: cover;
    background-repeat: no-repeat;
height: 1000px;

}